
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(login.jpeg) no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
   
}
.container{
    position:relative ;
    margin-top: 100px;
    width: 450px;
    background: #dedede;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
}
.lab{
   padding: 20px 130px;
   font-size: 35px;
   color: #130f40;
   font-weight: bold;
}

.form{
    padding: 20px 40px;
    text-align: start;
    
}
.form .font1{
    font-size:18px ;
    color: #130f40;
    margin: 5px 0px; 
    padding-left: 0px;
}

.form .font2{
    font-size:18px ;
    margin-top: 30px;
    color: #130f40;
  
}

.form input{
    height: 40px;
    width: 350px;
    padding-bottom: 10px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}

.form button{
    height: 45px;
    margin: 45px 0 30px 0;
    width: 365px;
    cursor: pointer;
    font-size: 30px;
    outline: none;
    color: #dedede;
    font-weight: bold;
    background-color: #1a237e;
    border-radius: 5px;
    border: 1px solid #3949ab;
    transition: 0.5s;
}
.form button:hover{
    background-color:rgb(82, 82, 184) ;
}
.form #email-error,
.form #password-error{
    margin-top: 5px;
    font-size: 18px;
    width: 255px;
    color: red; 
    display: none;
}